@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Architects+Daughter&family=Bad+Script&family=Bangers&family=Bungee+Shade&family=Cabin+Sketch&family=Caveat&family=Cinzel&family=Dancing+Script&family=Great+Vibes&family=Hanalei&family=Indie+Flower&family=Italianno&family=Major+Mono+Display&family=Monofett&family=Monoton&family=New+Tegomin&family=Nosifer&family=Oi&family=Open+Sans+Condensed:wght@300&family=Orbitron&family=Pacifico&family=Poiret+One&family=Press+Start+2P&family=Rajdhani:wght@300&family=Raleway+Dots&family=Rock+Salt&family=Rye&family=Satisfy&family=Special+Elite&family=Syncopate&family=Train+One&family=Unica+One&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.googleFontsHand {
  padding-bottom: 10px;
}

